@import "tailwindcss";
/* @tailwind base; */
@tailwind utilities;

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

.swiper-pagination {
  bottom: 10px; /* Adjust the position of the dots */
  text-align: center;
}

.swiper-pagination-bullet {
  background-color: #fff; /* Change the bullet color */
  opacity: 0.7; /* Make the bullets slightly transparent */
}

.swiper-pagination-bullet-active {
  background-color: #e7e7e7; /* Active dot color */
}

/* @media (max-width: 640px) {
  .swiper-button-next, .swiper-button-prev {
    background-color: black;
  }

  .swiper-pagination-bullet {
    background-color: white;
  }
} */